<!-- TODO: aggiungi span per descrivere modifiche etc-->


  <div class="modal-header">
    <h5 class="modal-title" id="multiUseModalLabel">Dettagli dell'auto</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    
    <!-- Utente -->
    <div id="username-rent-modify" class="modify-container" style="margin-bottom: 3vh;">
      <div id="username-rent-info" class="value-container">
        <p>Utente:&nbsp;</p>
        <p class="modify-text" id="username-rent-value" style="text-overflow: ellipsis;">null</p>
      </div>
    </div>
    
    <!-- Informazioni di fatturazione -->
    <div id="user-info-modify" class="modify-container" style="margin-bottom: 3vh;">
      <div id="user-info-info" class="value-container">
        <p>Informazioni di fatturazione:&nbsp;</p>
        <ul id="user-rent-info-value" style="list-style-type: none">
          <li id="user-name">null</li>
          <li id="user-address">null</li>
          <li id="user-email">null</li>
        </ul>
      </div>
    </div>

    <!-- Id utente -->
    <p class="disclaimer-text">Id utente: <span id="user-id">null</span></p>

    <hr>
    
    <!-- Auto -->
    <div id="car-rent-modify" class="modify-container" style="margin-bottom: 3vh;">
      <div id="car-rent-info" class="value-container">
          <p>Modello auto:&nbsp;</p>
          <p class="modify-text" id="car-rent-value" style="text-overflow: ellipsis;">null</p>
      </div>
    </div>

    <!-- Kits -->
    <div id="car-rent-modify" class="modify-container" style="margin-bottom: 3vh;">
      <div id="car-rent-info" class="value-container">
        <p>Kit inclusi:&nbsp;</p>
        <div id="kits-value">
        <ul id="kits-list">
          <li>null</li>
          <li>null</li>
          <li>null</li>
        </ul>
      </div>
    </div>

    <!-- Luogo di ritiro dell'auto -->
    <div id="pickup-rent-modify" class="modify-container" style="margin-bottom: 3vh;">
      <div id="pickup-rent-info" class="value-container">
          <p>Luogo di ritiro:&nbsp;</p>
          <p class="modify-text" id="pickup-rent-value" style="text-overflow: ellipsis;">null</p>
      </div>
    </div>

    <!-- Id auto -->
    <p class="disclaimer-text">Id auto: <span id="car-id">null</span></p>

    <hr>

    <!-- isLate -->
    <div id="car-bool-modify" class="modify-container" style="margin-bottom: 3vh;">
      <div id="car-bool-info" class="value-container">
          <div style=" display: inline-block; vertical-align: top;">
            <p style="float: left;">In ritardo:&nbsp;</p>
            <p class="modify-text" id="rent-late-value" style="float: right;">null</p>
          </div>
          <div class="modify-button">
            <a href="#" class="btn btn-sm btn-primary modify modify-input-text-btn "><i class="fas fa-edit"></i></a>
            <a href="#" class="btn btn-sm btn-success confirm confirm-checkbox-car hidden"><i class="fas fa-check"></i></a>
          </div>
      </div>
      <div id="rent-late-modify-input" class="modify-input hidden">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="isLate">
            <label class="form-check-label" for="isLate">
              In ritardo
            </label>
          </div>
      </div>
    </div>

    <!-- Tipo di prenotazione -->
    <div id="rent-type-modify" class="modify-container" style="margin-bottom: 3vh;">
      <div id="rent-type-info" class="value-container">
          <div style="display: block;">
            <p>Tipologia di prenotazione:&nbsp; <span id="rent-type-value">null</span></p>
            <p>Tempo:&nbsp; <span id="rent-time-value">null</span></p>
          </div>
          <div class="modify-button">
            <a href="#" class="btn btn-sm btn-primary modify modify-input-text-btn "><i class="fas fa-edit"></i></a>
            <a href="#" class="btn btn-sm btn-success confirm confirm-checkbox-car hidden"><i class="fas fa-check"></i></a>
          </div>
      </div>
      <div id="rent-late-modify-input" class="modify-input hidden">
        <div class="form-group m-2">
          <label for="rentType">Tipo prenotazione:</label>
          <div class="form-check form-check-inline m-1">
            <input class="form-check-input" type="radio" name="rentType" id="classic_rent" value="classic" checked>
            <label class="form-check-label" for="classic_rent">
              Classico
            </label>
          </div>
          <div class="form-check form-check-inline m-1">
            <input class="form-check-input" type="radio" name="rentType" id="periodic_rent" value="period">
            <label class="form-check-label" for="periodic_rent">
              Periodico
            </label>
          </div>
        </div>
        <div class="form-group m-3">
          <div id="classicRentDiv" class="form-check">      
            <div class="row" id="classicRentForm">
              <div class="col-sm m-2">
                <label class="form-check-label" for="fromDate">
                  Dal
                </label>
                <duet-date-picker identifier="fromDate" aria-describedby="Dal" required ></duet-date-picker>
              </div>
              <div class="col-sm m-2">
                <label class="form-check-label" for="toDate">
                  al
                </label>
                <duet-date-picker identifier="toDate" aria-describedby="Al" required></duet-date-picker>
              </div>
            </div>
          </div>
          <div id="periodicRentDiv" class="form-check hidden">
            <div class="row" id="periodicRentForm">
              <div class="col-sm m-2">
                <label class="form-check-label col-form-label col-form-label-sm" for="fromDatePeriod">
                  Dal
                </label>
                <duet-date-picker identifier="fromDatePeriod" aria-describedby="Dal" required ></duet-date-picker>
              </div>
              <div class="col-sm m-2">
                <label class="form-check-label col-form-label col-form-label-sm" for="fromWeekDate">
                  dal giorno della settimana
                </label>
                <input type="number" class="form-control form-control-sm" id="fromWeekDate" aria-describedby="dal giorno della settimana" required>
              </div>
              <div class="col-sm m-2">
                <label class="form-check-label col-form-label col-form-label-sm" for="toWeekDate">
                  al giorno della settimana
                </label>
                <input type="number" class="form-control form-control-sm" id="toWeekDate" aria-describedby="al giorno della settimana" required>
              </div>
              <div class="col-sm m-2">
                <label class="form-check-label col-form-label col-form-label-sm" for="weekPeriod">
                  Numero settimane:
                </label>
                <input type="number" class="form-control form-control-sm" id="weekPeriod" aria-describedby="Numero settimane" required>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  <!-- Data conclusione -->
  <div id="conclusion-date" class="value-container hidden text-success" style="margin-bottom: 3vh;">
    <p>Data conclusione:&nbsp;<span id="conclusion-date-value">null</span></p>
  </div>

  <!-- Prezzo -->
  <div id="rent-price" class="value-container" style="margin-bottom: 3vh;">
    <p>Prezzo:&nbsp;<span id="rent-price-value">null</span>€</p>
  </div>

  <!-- Id -->
  <div id="rent-id" class="value-container" style="margin-bottom: 3vh;">
    <p>Id prenotazione:&nbsp;<span id="rent-id-value">null</span></p>
  </div>

  <p class="disclaimer-text">Il prezzo finale verrà aggiornato una volta confermata la modifica.</p>

  <!-- Data crezione -->
  <p class="disclaimer-text">Data creazione: <span id="creation-date"> </span></p>

  <!-- Data ultima modifica -->
  <p class="disclaimer-text">Data ultima modifica: <span id="change-date"> </span></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
    <button type="button" id="apply-modifications" class="btn btn-primary m-2 hidden" data-dismiss="modal">Applica</button>
  </div>
  