<div class="modal-header">
  <h5 class="modal-title" id="multiUseModalLabel">Aggiungi una prenotazione</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form id="carsForm">
    <div class="form-group m-2">
      <label for="autoRent">Macchina:</label>
        <select id="autoRent" class="form-select" aria-label="Scegli un auto" required>
        <option value="1" disabled selected hidden>Scegli una macchina</option>
        </select>
    </div>
    <div class="form-group m-2">
      <label for="kitsRent">Kit della prenotazione:</label>
      <select id="kitsRent" class="form-select" multiple aria-label="multiple select example">
      </select>
    </div>
    <div class="form-group m-2">
      <label for="userRent">Utente:</label>
        <select id="userRent" class="form-select" aria-label="Scegli un utente" required>
        <option value="1" disabled selected hidden>Scegli un utente</option>
        </select>
    </div>
    <div class="form-group m-2">
      <label for="rentStatus">Stato prenotazione:</label>
        <select id="rentStatus" class="form-select" aria-label="Seleziona uno stato della prenotazione" required>
        <option value="1" disabled selected hidden>Seleziona uno stato</option>
        <option value="pending" >Pendente</option>
        <option value="accepted">Accettata</option>
        <option value="concluded">Conclusa</option>
      </select>
    </div>
    <div class="form-group m-2">
      <label for="rentType">Tipo prenotazione:</label>
      <div class="form-check form-check-inline m-1">
        <input class="form-check-input" type="radio" name="rentType" id="classic_rent" value="classic" checked>
        <label class="form-check-label" for="classic_rent">
          Classico
        </label>
      </div>
      <div class="form-check form-check-inline m-1">
        <input class="form-check-input" type="radio" name="rentType" id="periodic_rent" value="period">
        <label class="form-check-label" for="periodic_rent">
          Periodico
        </label>
      </div>
    </div>
    <div class="form-group m-3">
        <div id="classicRentDiv" class="form-check">      
          <div class="row" id="classicRentForm">
            <div class="col-sm m-2">
              <label class="form-check-label" for="fromDate">
                Dal
              </label>
              <duet-date-picker identifier="fromDate" aria-describedby="Dal" required ></duet-date-picker>
            </div>
            <div class="col-sm m-2">
              <label class="form-check-label" for="toDate">
                al
              </label>
              <duet-date-picker identifier="toDate" aria-describedby="Al" required></duet-date-picker>
            </div>
          </div>
        </div>
        <div id="periodicRentDiv" class="form-check hidden">
          <div class="row" id="periodicRentForm">
            <div class="col-sm m-2">
              <label class="form-check-label col-form-label col-form-label-sm" for="fromDatePeriod">
                Dal
              </label>
              <duet-date-picker identifier="fromDatePeriod" aria-describedby="Dal" required ></duet-date-picker>
            </div>
            <div class="col-sm m-2">
              <label class="form-check-label col-form-label col-form-label-sm" for="fromWeekDate">
                dal giorno della settimana
              </label>
              <input type="number" class="form-control form-control-sm" id="fromWeekDate" aria-describedby="dal giorno della settimana" required>
            </div>
            <div class="col-sm m-2">
              <label class="form-check-label col-form-label col-form-label-sm" for="toWeekDate">
                al giorno della settimana
              </label>
              <input type="number" class="form-control form-control-sm" id="toWeekDate" aria-describedby="al giorno della settimana" required>
            </div>
            <div class="col-sm m-2">
              <label class="form-check-label col-form-label col-form-label-sm" for="weekPeriod">
                Numero settimane:
              </label>
              <input type="number" class="form-control form-control-sm" id="weekPeriod" aria-describedby="Numero settimane" required>
            </div>
          </div>
        </div>
      </div>
      <p class="disclaimer-text">Il prezzo totale verrà calcolato automaticamente dopo la creazione.</p>
    </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
  <button type="submit" form="myform" id="send-pickup" class="btn btn-primary m-2" onclick="createRent();" data-dismiss="modal">Crea</button>
</div>