<div class="modal-header">
    <h5 class="modal-title" id="multiUseModalLabel">Dettagli dell'utente</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- Nome e congnome -->
  <div class="modal-body">
    <div id="user-title-modify" class="modify-container" style="margin-bottom: 3vh;">
        <div id="user-title-info" class="value-container">
            <p>Nome e cognome:&nbsp;</p>
            <p class="modify-text" id="name-value">null</p>
            <p>&nbsp;</p>
            <div class="modify-button">
              <a href="#" class="btn btn-sm btn-primary modify modify-input-text-btn"><i class="fas fa-edit"></i></a>
              <a href="#" class="btn btn-sm btn-success confirm confirm-user-title-btn hidden"><i class="fas fa-check"></i></a>
            </div>
        </div>
        <div id="user-title-modify-input" class="modify-input hidden">
          <div class="form-group m-2">
            <div class="input-group">
              <input type="text" id="name_" class="form-control" aria-describedby="Nome utente" placeholder="Inserisci il nome" required>
              <input type="text" id="surname_" class="form-control" aria-describedby="Cognome utente" placeholder="Inserisci il cognome" required>
            </div>
          </div>
        </div>
    </div>

      <!-- Username -->
      <div id="username-modify" class="modify-container" style="margin-bottom: 3vh;">
        <div id="username-info" class="value-container">
            <p>Username:&nbsp;</p>
            <p class="modify-text" id="username-value" style="white-space: nowrap;text-overflow: ellipsis;">null</p>
            <p>&nbsp;</p>
            <div class="modify-button">
              <a href="#" class="btn btn-sm btn-primary modify modify-input-text-btn"><i class="fas fa-edit"></i></a>
              <a href="#" class="btn btn-sm btn-success confirm confirm-basic hidden"><i class="fas fa-check"></i></a>
            </div>
        </div>
        <div id="username-modify-input" class="modify-input hidden">
          <input type="text" class="form-control modify-input-text" id="username" aria-describedby="Username" placeholder="Inserisci lo username" required>
        </div>
    </div>

    <!-- Username -->
    <div id="email-modify" class="modify-container" style="margin-bottom: 3vh;">
      <div id="email-info" class="value-container">
          <p>Email:&nbsp;</p>
          <p class="modify-text" id="email-value" style="white-space: nowrap;text-overflow: ellipsis;">null</p>
          <p>&nbsp;</p>
          <div class="modify-button">
            <a href="#" class="btn btn-sm btn-primary modify modify-input-text-btn"><i class="fas fa-edit"></i></a>
            <a href="#" class="btn btn-sm btn-success confirm confirm-basic hidden"><i class="fas fa-check"></i></a>
          </div>
      </div>
      <div id="email-modify-input" class="modify-input hidden">
        <input type="email" class="form-control modify-input-text" id="userEmail" aria-describedby="Email" placeholder="Inserisci l'email" required>
      </div>
  </div>

  <!-- Sesso -->
    <div id="sex-modify" class="modify-container" style="margin-bottom: 3vh;">
      <div id="sex-info" class="value-container">
          <p>Sesso:&nbsp;</p>
          <p class="modify-text" id="sex-value">null</p>
          <p>&nbsp;</p>
          <div class="modify-button">
            <a href="#" class="btn btn-sm btn-primary modify modify-basic"><i class="fas fa-edit"></i></a>
            <a href="#" class="btn btn-sm btn-success confirm confirm-radio hidden"><i class="fas fa-check"></i></a>
          </div>
      </div>
      <div id="sex-input" class="modify-input hidden">
        <div class="form-group m-2">
          <div class="form-check form-check-inline m-1">
            <input class="form-check-input" type="radio" name="userSex" id="maleSex" value="male" checked>
            <label class="form-check-label" for="userSex">
              Maschio
            </label>
          </div>
          <div class="form-check form-check-inline m-1">
            <input class="form-check-input" type="radio" name="userSex" id="femaleSex" value="female">
            <label class="form-check-label" for="userSex">
              Femmina
            </label>
          </div>
        </div>
      </div>
    </div>


    <!-- Ruolo -->
    <div id="role-modify" class="modify-container" style="margin-bottom: 3vh;">
      <div id="role-info" class="value-container">
          <p>Ruolo:&nbsp;</p>
          <p class="modify-text" id="role-value">null</p>
          <p>&nbsp;</p>
          <div class="modify-button">
            <a href="#" class="btn btn-sm btn-primary modify modify-basic"><i class="fas fa-edit"></i></a>
            <a href="#" class="btn btn-sm btn-success confirm confirm-radio hidden"><i class="fas fa-check"></i></a>
          </div>
      </div>
      <div id="role-input" class="modify-input hidden">
        <div class="form-group m-2">
          <div class="form-check form-check-inline m-1">
            <input class="form-check-input" type="radio" name="userRole" id="normalUserRole" value="user" checked>
            <label class="form-check-label" for="userRole">
                User
            </label>
          </div>
          <div class="form-check form-check-inline m-1">
            <input class="form-check-input" type="radio" name="userRole" id="adminRole" value="admin">
            <label class="form-check-label" for="userRole">
              Admin
            </label>
          </div>
          <div class="form-check form-check-inline m-1">
            <input class="form-check-input" type="radio" name="userRole" id="managerRole" value="manager">
            <label class="form-check-label" for="userRole">
              Manager
            </label>
          </div>
        </div>
      </div>
    </div>
  
  <!-- Indirizzo -->
  <div id="address-modify" class="modify-container" style="margin-bottom: 3vh;">
    <div id="address-info" class="value-container">
        <p>Indirizzo:&nbsp;</p>
        <p class="modify-text" id="address-value" style="text-overflow: ellipsis;">null</p>
        <p>&nbsp;</p>
        <div class="modify-button">
          <a href="#" class="btn btn-sm btn-primary modify modify-basic"><i class="fas fa-edit"></i></a>
          <a href="#" class="btn btn-sm btn-success confirm confirm-address-btn hidden"><i class="fas fa-check"></i></a>
        </div>
    </div>
    <div id="address-modify-input" class="modify-input hidden">
      <div class="form-group m-2">
        <div class="input-group row">
          <div class="col-md-6">
          <input type="text" id="addressStreet" class="col-md-4 form-control" aria-describedby="Via" placeholder="Via" required>
          </div>
          <div class="col-md-4">
          <input type="text" id="addressCity" class="col-md-3 form-control" aria-describedby="Città" placeholder="Città" required>
          </div>
          <div class="col-md-2">
          <input type="text" id="addressZip" class="col-md-2 form-control" aria-describedby="Codice ZIP" placeholder="Zip" required>
          </div>
        </div>
      </div>
    </div>
  </div>



    <!-- Commenti utente -->
  <div id="user-bool-modify" class="modify-container" style="margin-bottom: 3vh;">
    <div id="user-bool-info" class="value-container">
        <div  style="display: block;">
          <div style=" display: inline-block; vertical-align: top;">
            <p style="float: left;">Rompiscatole:&nbsp;</p>
            <p class="modify-text" id="user-bool-value-rompiscatole" style="float: right;">null</p>
          </div>
          <div style=" display: inline-block; vertical-align: top;">
            <p style="float: left;">| Ritardatario:&nbsp;</p>
            <p class="modify-text" id="user-bool-value-ritardatario" style="float: right;">null</p>
          </div>
          <div style=" display: inline-block; vertical-align: top;">
            <p style="float: left;">| Guastatore:&nbsp;</p>
            <p class="modify-text" id="user-bool-value-guastatore" style="float: right;">null</p>
          </div>
        </div>
        <div class="modify-button">
          <a href="#" class="btn btn-sm btn-primary modify modify-input-text-btn "><i class="fas fa-edit"></i></a>
          <a href="#" class="btn btn-sm btn-success confirm confirm-checkbox-user hidden"><i class="fas fa-check"></i></a>
        </div>
    </div>
    <div id="user-bool-modify-input" class="modify-input hidden">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="isRompiscatole">
          <label class="form-check-label" for="isRompiscatole">
            Rompiscatole
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="isRitardatario">
          <label class="form-check-label" for="isRitardatario">
            Ritardatario
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="isGuastatore">
          <label class="form-check-label" for="isGuastatore">
            Guastatore
          </label>
        </div>
    </div>
  </div>

  <!-- Data di nascita -->
  <div id="birth-date" class="modify-container" style="margin-bottom: 3vh;">
    <div id="birth-date-info" class="value-container">
        <p>Data di nascita:&nbsp;</p>
        <p class="modify-text" id="birthdate-value" style="text-overflow: ellipsis;">null</p>
        <p>&nbsp;</p>
        <div class="modify-button">
          <a href="#" class="btn btn-sm btn-primary modify modify-basic"><i class="fas fa-edit"></i></a>
          <a href="#" class="btn btn-sm btn-success confirm confirm-basic hidden"><i class="fas fa-check"></i></a>
          <!-- Change to user related-->
        </div>
    </div>
    <div id="birthdate-modify-input" class="modify-input hidden">
      <div class="form-group m-2">
          <div class="col-md-3">
            <input type="text" class="form-control modify-input-text" id="birthDate" aria-describedby="Data di nascita" placeholder="YYYY-MM-DD" required>
          </div>
      </div>
    </div>
  </div>

  <!-- Id -->
  <div id="user-id" class="modify-container" style="margin-bottom: 3vh;">
    <div id="user-id-info" class="value-container">
        <p>Id:&nbsp;</p>
        <p class="modify-text" id="user-id-value" style="text-overflow: ellipsis;">null</p>
        <p>&nbsp;</p>
    </div>
  </div>

  <!-- Data crezione e ultima modifica-->
  <p class="disclaimer-text">Data creazione: <span id="creation-date"> </span></p>
  <p class="disclaimer-text">Data ultima modifica: <span id="change-date"> </span></p>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
    <button type="button" id="apply-modifications" class="btn btn-primary m-2 hidden" data-dismiss="modal">Applica</button>
  </div>
  