<!-- Questa versione del codice html è deprecata: mostrava il form per la creazoine degli utenti.
Ho scoperto dopo che la nostra pai non possiede un metodo per la creazione degli utenti. 
Oh well... -->

<div class="modal-header">
  <h5 class="modal-title" id="multiUseModalLabel">Aggiungi un utente</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form id="userForm">
    <div class="form-group m-2">
      <label for="name_">Nome e cognome:</label>
      <div class="input-group">
        <input type="text" id="name_" class="form-control" aria-describedby="Nome utente" placeholder="Inserisci il nome" required>
        <input type="text" id="surname_" class="form-control" aria-describedby="Cognome utente" placeholder="Inserisci il cognome" required>
      </div>
    </div>
    <div class="form-group m-2">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" aria-describedby="Username" placeholder="Inserisci lo username" required>
    </div>
    <div class="form-group m-2">
      <label for="userEmail">Email</label>
      <input type="text" class="form-control" id="userEmail" aria-describedby="Link immagine" placeholder="Inserisci l'URL dell'immagine" required>
    </div>
    <div class="m-3">
      <label for="password_">La password del nuovo utente sarà:</label>
      <p id="password_">Password123!</p>
    </div>
    <div class="form-group m-2">
      <label for="birthDate">Data di nascita:</label>
      <div class="col-md-3">
        <input class="form-control" id="birthDate" aria-describedby="Data di nascita" placeholder="YYYY-MM-DD" required>
      </div>
    </div>
    <div class="form-group m-2">
      <label for="userSex">Sesso:</label>
      <div class="form-check form-check-inline m-1">
        <input class="form-check-input" type="radio" name="userSex" id="maleSex" value="male" checked>
        <label class="form-check-label" for="userSex">
          Maschio
        </label>
      </div>
      <div class="form-check form-check-inline m-1">
        <input class="form-check-input" type="radio" name="userSex" id="femaleSex" value="female">
        <label class="form-check-label" for="userSex">
          Femmina
        </label>
      </div>
    </div>
    <div class="form-group m-2">
      <label for="userRole">Ruolo:</label>
      <div class="form-check form-check-inline m-1">
        <input class="form-check-input" type="radio" name="userRole" id="userRole" value="user" checked>
        <label class="form-check-label" for="userRole">
            User
        </label>
      </div>
      <div class="form-check form-check-inline m-1">
        <input class="form-check-input" type="radio" name="userRole" id="adminRole" value="admin">
        <label class="form-check-label" for="userRole">
          Admin
        </label>
      </div>
      <div class="form-check form-check-inline m-1">
        <input class="form-check-input" type="radio" name="userRole" id="managerRole" value="manager">
        <label class="form-check-label" for="userRole">
          Manager
        </label>
      </div>
    </div>
    <div class="form-group m-2">
      <label for="addressUser">Indirizzo:</label>
      <div class="input-group row">
        <div class="col-md-6">
        <input type="text" id="addressStreet" class="col-md-4 form-control" aria-describedby="Via" placeholder="Via" required>
        </div>
        <div class="col-md-4">
        <input type="text" id="addressCity" class="col-md-3 form-control" aria-describedby="Città" placeholder="Città" required>
        </div>
        <div class="col-md-2">
        <input type="text" id="addressZip" class="col-md-2 form-control" aria-describedby="Codice ZIP" placeholder="Zip" required>
        </div>
      </div>
    </div>
    <div class="form-group m-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="isRompiscatole">
        <label class="form-check-label" for="isRompiscatole">
          Rompiscatole
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="isRitardatario">
        <label class="form-check-label" for="isRitardatario">
          Ritardatario
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="isGuastatore">
        <label class="form-check-label" for="isGuastatore">
          Guastatore
        </label>
      </div>
  </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
  <button type="submit" form="userForm" id="send-data" class="btn btn-primary m-2" onclick="createUser();" data-dismiss="modal">Crea</button>
</div>