.light {
    @import '~antd/lib/style/themes/default.less';
    @import '~antd/dist/antd.less'; // Import Ant Design styles by less entry

    @primary-color: #0ed3cf;
    background-color: #fff;

    .slick-dots li button {
        background: #000 !important;
        opacity: 0.4 !important;
      }
      
      .slick-dots li.slick-active button {
        opacity: 1 !important;
        background: #000 !important;
      }
}