.value-container
{
    margin-bottom: 1vh;
    display: flex;
}
.modify-text
{
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 30vw;
}

.modify-button
{
    margin-left: auto;
    float: right;    
}

.hidden
{
    display: none;
}

.disclaimer-text
{
    font-size: 0.7em;
    color: grey;
    white-space: nowrap; 
    overflow: hidden;
    font-style: italic;
}