<div id="search-bar">
<form class="form-group" id="search-keyword" onsubmit="search();return false">
  <input id="search-input" class="form-control separator" aria-describedby="search" placeholder="Cerca una parola...">
  <button id="search-submit" type="button" class="btn btn-primary search-btn"><i class="fas fa-search"></i></button>
  <div class="separator"></div>
</form>
</div>

<button id="add-button" type="button" class="btn btn-success search-btn"><i class="fas fa-plus"></i>&nbsp; Aggiungi elemento</button>
        
<div id="login-button" class="dropdown">
  <a id="login-text" class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-user"></i>&nbsp; 
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a id="login-exit" class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i>&nbsp; Esci</a>
  </div>
</div>


<script>
  $( window ).resize(function() {
  if ($(window).width() <= 600) {
    if ($("#button-sidebar").length === 0) {
      $("#content-header").append(
        `<div style="position: absolute; bottom: 2rem; left: 2rem; z-index: 100; border: none; padding: 1.4rem" id="button-sidebar">
            <button>ok</button>
          </div>`
      )
    }
      
  } else {
      $("#button-sidebar")?.remove()
  }
  });
</script>