<div class="sidebar-header">
    <h3>NoloNolo+</h3>
  </div>

  <ul class="list-unstyled components">
    <li>
        <a id="sidebar-cars" href="./index.html">Auto</a>
    </li>
    <li>
        <a id="sidebar-users" href="./users.html">Utenti</a>
    </li>
    <li>
        <a id="sidebar-rents" href="./rents.html">Prenotazioni</a>
    </li>
    <li>
        <a id="sidebar-pickups" href="./pickups.html">Luoghi di ritiro</a>
    </li>
    <li>
        <a id="sidebar-kits" href="./kits.html">Kit</a>
    </li>
  </ul>  