<form class="form-group" id="search-keyword" onsubmit="search();return false">
    <input id="search-input" class="form-control separator" aria-describedby="search" placeholder="Macchinina rossa rossa...">
  <div class="btn-group search-btn">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-search"></i>
    </button>
    <div class="dropdown-menu">
        <a id="search-all" class="dropdown-item" href="#">Mostra tutti</a>
        <div class="dropdown-divider"></div>
        <a id="search-avail" class="dropdown-item" href="#">Solo disponibili</a>
        <a id="search-unavail" class="dropdown-item" href="#">Solo non disponibili</a>
        <a id="search-depr" class="dropdown-item" href="#">Solo deprecati</a>
    </div>
  </div>
  
  
  <div class="separator"></div>
</form>